
.error {

    margin-top: 20px;
    margin: 0px auto;
    padding-top: 10px;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 15px;
    display: none;
    height: 40px;

    

}

.error_check{

    margin-top: 1rem;
}
